# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

In [ ]:
import pandas as pd
import numpy as np
from pandas._libs.tslibs import dtypes
import datetime
import re

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

In [ ]:
open_file = pd.read_csv('sp500hst.txt')
open_file.columns = ["date", "ticker", "open", "high", "low", "close", "volume"]
open_file

            date ticker   open     high     low  close  volume
0       20090824      A  25.64  25.7400  25.330  25.50   22247
1       20090825      A  25.50  25.7000  25.225  25.34   30891
2       20090826      A  25.32  25.6425  25.145  25.48   33334
3       20090827      A  25.50  25.5700  25.230  25.54   70176
4       20090828      A  25.67  26.0500  25.630  25.83   39694
...          ...    ...    ...      ...     ...    ...     ...
122568  20100813    ZMH  51.72  51.9000  51.380  51.44   14561
122569  20100816    ZMH  51.13  51.4700  50.600  51.00   13489
122570  20100817    ZMH  51.14  51.6000  50.890  51.21   20498
122571  20100819    ZMH  51.63  51.6300  50.170  50.22   18259
122572  20100820    ZMH  50.03  50.5500  49.480  49.82   17792

[122573 rows x 7 columns]

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

In [ ]:
open_file.iloc[:,2:6].mean()

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

In [ ]:

open_file.insert(1, "month", value = pd.to_datetime(open_file['date'],format="%Y%m%d").dt.month)
print(open_file)

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

In [ ]:
open_file[['ticker', 'volume']].groupby('ticker').sum()

          volume
ticker
A        8574578
AA      81898998
AAPL    52261170
ABC      9006756
ABT     18975870
...          ...
XTO     21297931
YHOO    56837171
YUM     10971538
ZION    15551119
ZMH      4938916

[524 rows x 1 columns]

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

In [ ]:
open_file_csv = pd.read_csv("sp_data2.csv", sep=';')
open_file_csv.columns = ["ticker", "company", "percent"]
df = pd.merge(open_file,open_file_csv,how='left')
open_file

            date  month ticker   open     high     low  close  volume
0       20090824      8      A  25.64  25.7400  25.330  25.50   22247
1       20090825      8      A  25.50  25.7000  25.225  25.34   30891
2       20090826      8      A  25.32  25.6425  25.145  25.48   33334
3       20090827      8      A  25.50  25.5700  25.230  25.54   70176
4       20090828      8      A  25.67  26.0500  25.630  25.83   39694
...          ...    ...    ...    ...      ...     ...    ...     ...
122568  20100813      8    ZMH  51.72  51.9000  51.380  51.44   14561
122569  20100816      8    ZMH  51.13  51.4700  50.600  51.00   13489
122570  20100817      8    ZMH  51.14  51.6000  50.890  51.21   20498
122571  20100819      8    ZMH  51.63  51.6300  50.170  50.22   18259
122572  20100820      8    ZMH  50.03  50.5500  49.480  49.82   17792

[122573 rows x 8 columns]

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [ ]:
recipes = pd.read_csv("recipes_sample.csv")
reviews = pd.read_csv("reviews_sample.csv")
reviews.head(1)

,Unnamed: 0,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [ ]:
print("Данные о рецептах:")
print("Кол-во строк = {}".format(recipes.shape[0]))
print("Кол-во столбцов = {}".format(recipes.shape[1]))
print({i:recipes.dtypes[i].name for i in recipes})
print("Данные о отзывах:")
print("Кол-во строк = {}".format(reviews.shape[0]))
print("Кол-во столбцов = {}".format(reviews.shape[1]))
print({i:reviews.dtypes[i].name for i in reviews})

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [ ]:
# о рецептах
print((recipes.shape[0]-recipes.dropna().shape[0])/recipes.shape[0])

# данные о отзывах
print((reviews.shape[0]-reviews.dropna().shape[0])/reviews.shape[0])

0.5684666666666667
0.00013417945317926376

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [ ]:
print("Данные о рецептах:")
print(recipes[["minutes","n_ingredients","n_steps"]].mean())
print()
print("Данные о отзывах:")
print(reviews[["rating"]].mean())

1.5 Создайте серию из 10 случайных названий рецептов.

In [ ]:
print(recipes["name"].sample(10))

24892                               south beach danish
13448                    healthy caramel apple muffins
24856                   sourdough cinnamon swirl bread
7                           say what   banana sandwich
6665                             chocolate mint cooler
15856            lemon cornmeal cookies  cooking light
19870                              parmesan oven fries
8693     crock pot roast pork loin w  kraut and potato
2348                                        barley tea
21669                    pumpkin carrot pudding  kugel
Name: name, dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [ ]:
print(recipes.loc[(recipes['minutes'] < 21) & (recipes['n_ingredients'] < 6)])

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [ ]:
import datetime

In [ ]:
recipes = pd.read_csv("recipes_sample.csv")
recipes["submitted"] = pd.to_datetime(recipes["submitted"])
recipes['submitted']

0       2002-10-25
1       2003-07-26
2       2002-08-29
3       2002-07-27
4       2004-02-23
           ...
29995   2007-11-25
29996   2009-08-24
29997   2004-11-03
29998   2012-08-29
29999   2008-04-15
Name: submitted, Length: 30000, dtype: datetime64[ns]

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [ ]:
recipes["submitted"] = recipes["submitted"].astype("datetime64[ns]")
print(recipes.loc[(recipes['submitted'].dt.year <= 2010)])

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [ ]:
recipes["description_length"] = recipes["description"].str.len()
print(recipes)

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [ ]:
recipes["name"] = recipes["name"].str.title()
print(recipes)

                                               name      id  minutes  \
0             George S At The Cove  Black Bean Soup   44123       90
1                Healthy For Them  Yogurt Popsicles   67664       10
2                      I Can T Believe It S Spinach   38798       30
3                              Italian  Gut Busters   35173       45
4          Love Is In The Air  Beef Fondue   Sauces   84797       25
...                                             ...     ...      ...
29995  Zurie S Holey Rustic Olive And Cheddar Bread  267661       80
29996          Zwetschgenkuchen  Bavarian Plum Cake  386977      240
29997   Zwiebelkuchen   Southwest German Onion Cake  103312       75
29998                                   Zydeco Soup  486161       60
29999        Cookies By Design   Cookies On A Stick  298512       29

       contributor_id   submitted  n_steps  \
0               35193  2002-10-25      NaN
1               91970  2003-07-26      NaN
2                1533  2002-08-29      NaN
3               22724  2002-07-27      NaN
4                4470  2004-02-23      4.0
...               ...         ...      ...
29995          200862  2007-11-25     16.0
29996          177443  2009-08-24      NaN
29997          161745  2004-11-03      NaN
29998          227978  2012-08-29      NaN
29999          506822  2008-04-15      9.0

                                             description  n_ingredients
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            NaN
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            NaN
4      i think a fondue is a very romantic casual din...            NaN
...                                                  ...            ...
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            NaN
29998  this is a delicious soup that i originally fou...            NaN
29999  i've heard of the 'cookies by design' company,...           10.0

[30000 rows x 8 columns]

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [ ]:
recipes["name_word_count"] = recipes["name"].str.findall(r'\w+').apply(len)
print(recipes)

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [ ]:
recipes = pd.read_csv("recipes_sample.csv")
max_recipes = recipes[['contributor_id', 'id']].groupby('contributor_id').count()
print(max_recipes)
print(max_recipes[max_recipes["id"] == max_recipes["id"].max()])

                 id
contributor_id
1530              5
1533            186
1534             50
1535             40
1538              8
...             ...
2001968497        2
2002059754        1
2002234079        1
2002234259        1
2002247884        1

[8404 rows x 1 columns]
                 id
contributor_id
89831           421

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [ ]:
a = reviews[["recipe_id","rating"]].groupby('recipe_id').mean()
print(a)
print("Отзывы отсутствуют для {} рецептов".format(reviews.shape[0] - a.shape[0]))

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [ ]:
recipes = pd.read_csv("recipes_sample.csv")
recipes["submitted"] = recipes["submitted"].astype("datetime64[ns]")
print(recipes['name'].groupby(recipes["submitted"].dt.year).count())

submitted
1999     275
2000     104
2001     589
2002    2644
2003    2334
2004    2153
2005    3130
2006    3473
2007    4429
2008    4029
2009    2963
2010    1538
2011     922
2012     659
2013     490
2014     139
2015      42
2016      24
2017      39
2018      24
Name: name, dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [ ]:
recipes = pd.read_csv("recipes_sample.csv")
reviews = pd.read_csv("reviews_sample.csv")
new_df = pd.merge(recipes[["id","name"]], reviews[["user_id","rating","recipe_id","review"]], how='right',left_on="id", right_on='recipe_id')
new_df = new_df.dropna()
new_df = new_df.reset_index(drop = True)
new_df.drop('recipe_id', axis=1, inplace=True)
print(new_df)

print()
print(reviews[reviews['review'].isna()].index)
print(reviews.iloc[8881])
print()
print(new_df.loc[new_df["user_id"]==2001567544])

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [ ]:
recipes = pd.read_csv("recipes_sample.csv")
reviews = pd.read_csv("reviews_sample.csv")
recipes = recipes.fillna(0, downcast='infer')
reviews = reviews.fillna(0, downcast='infer')
group_review = reviews.groupby("recipe_id")["review"].count().reset_index(level=0)
print(group_review)
df = recipes[['id','name']].merge(group_review, left_on='id',right_on='recipe_id', how='left').fillna(0, downcast='infer').drop(['recipe_id'],axis=1)
df = df.rename(columns={'id': 'recipe_id', 'review': 'review_count'})
print(df)
print(df.loc[df["review_count"]==0])

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [ ]:
reviews = pd.read_csv("reviews_sample.csv")
print(reviews['rating'].groupby(pd.DatetimeIndex(reviews['date']).year).mean().sort_values())

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [ ]:
recipes = pd.read_csv("recipes_sample.csv")
recipes["description_length"] = recipes["description"].str.len()
recipes["name"] = recipes["name"].str.capitalize()
recipes["name_word_count"] = recipes["name"].str.findall(r'\w+').apply(len)
recipes.sort_values(by=['name_word_count'])
recipes.to_csv("3.1-3.3.csv")

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [ ]:
recipes = pd.read_csv("recipes_sample.csv")
reviews = pd.read_csv("reviews_sample.csv")
new_df = pd.merge(recipes[["id","name"]], reviews[["user_id","rating","recipe_id","review"]], how='right',left_on="id", right_on='recipe_id')
new_df = new_df.dropna()
new_df = new_df.reset_index(drop = True)
new_df.drop('recipe_id', axis=1, inplace=True)
recipes = recipes.fillna(0, downcast='infer')
reviews = reviews.fillna(0, downcast='infer')
group_review = reviews.groupby("recipe_id")["review"].count().reset_index(level=0)
df = recipes[['id','name']].merge(group_review, left_on='id',right_on='recipe_id', how='left').fillna(0, downcast='infer').drop(['recipe_id'],axis=1)
df = df.rename(columns={'id': 'recipe_id', 'review': 'review_count'})

with pd.ExcelWriter(r"5.1-5.2.xlsx") as writer:
    new_df.to_excel(writer, sheet_name="Рецепты с оценками")
    df.to_excel(writer, sheet_name="Количество отзывов по рецептам")